<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="/scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/scripts/ajaxTable.js"></script>
    <script type="text/javascript" src="/scripts/downloadList.js"></script>
<script type="text/javascript">
function monoideaInit() {
  new DownloadListFactory().createList("Download");
}

session_id = "[% session_id %]";
token = "[% token %]";

videoWidth = [% videoWidth %];
videoHeight = [% videoHeight %];

$(document).ready(monoideaInit);
</script>
  </head>
  <body>

    <div id="content_0">
    </div>

  </body>
</html>
