[% WRAPPER page.tt title = c.config.name ; END %]
<h1>monoidea's monothek</h1>

<p>
  Currently under development.
</p>

<p>
  You might want to enter your session ID and the token.
</p>

<form name="download" method=POST action="download">
  <span>Session ID: <input type="text" name="session_id" value="" title="enter session ID"></span><br/>
  <span>Token: <input type="text" name="token" value="" title="enter token"></span><br/>
  <input type="submit" value="Download">
</form>
