[% IF ! c.user_exists %]
<form action="[% c.uri_for('/people/login') %]"
method="post" accept-charset="utf-8">
<label for="username">Username</label>
<input type="text" name="username" value="" id="username"/>
<br/><br/>
<label for="password">Password</label>
<input type="password" name="password" value="" id="password"/>
<p><input type="submit" value="Login &rarr;"></p>
</form>
[% ELSE %]
<p>You are already logged in.</p>
[% END %]
